<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.javaray.fishing.review.model.mapper.FishingReviewMapper">
	
	
	<insert id="insertReview">
	    INSERT 
	    INTO 
	    	TB_REVIEW (
	        USER_NO,
	        NICKNAME,
	        FISHING_NAME,
	        FISHING_DATE,
	        TITLE,
	        CONTENT,
	        REVIEW_FILE_URL
	    )
	    VALUES (
	        SEQ_FRNO.NEXTVAL,
	        #{userNo},
	        #{fishingName},
	        #{fishingDate},
	        #{title},
	        #{content},
	        #{reviewFileUrl}
	    )
	</insert>
	
	<select id="findReview" resultType="com.kh.javaray.fishing.review.model.dto.ReviewDTO">
	
	SELECT 
		    tr.TITLE,
		    tr.FISHING_DATE,
		    tm.NICKNAME
	FROM
   			TB_REVIEW tr
	JOIN
  		    TB_MEMBER tm ON tr.USER_NO = tm.USER_NO
	WHERE
   			tr.FISHING_NO = #{fishingNo}
	</select>





	
</mapper>