<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.javaray.fishing.fishing.model.mapper.FishingMapper">

	<insert id="fishingSave">
	
	 	INSERT
	 	INTO
				TB_FISHING (
					FISHING_NO,
		            FISHING_WRITER, 
		            FISHING_NAME ,
		            ADDRESS, 
		            PHONE, 
		            START_TIME, 
		            END_TIME, 
		            INTRODUCE, 
		            STATUS, 
		            FISHING_FILE_URL
		        )
        VALUES 
		        (
					SEQ_FHNO.NEXTVAL,
		            #{fishingWriter}, 
		            #{fishingName}, 
		            #{address}, 
		            #{phone}, 
		            #{startTime}, 
		            #{endTime}, 
		            #{introduce}, 
		            'Y', 
		            #{fishingFileUrl}
		        )
		<selectKey keyProperty="fishingNo" resultType="long" order="AFTER">
		SELECT SEQ_FHNO.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="saveFish">
	    INSERT 
	      INTO 
	      		TB_REGISTERED_FISH 
	      		(
				FISHING_NO, 
				FISH_NO
				)
	    <foreach collection="fishList" item="fish" separator=" UNION ALL ">
	     SELECT 
	     		#{fish.fishingNo}, 
	     		#{fish.fishNo} 
	      FROM 
	     		DUAL
	    </foreach>
	</insert>

	
	<insert id="saveAmenities" parameterType="AmenitiesDTO">
		INSERT  
		  INTO
		  		TB_REGISTERED_AMENITIES
		  		(
				FISHING_NO,
				AMENITIES_NO
				)
		<foreach collection="amenitiesList" item="amenities" separator=" UNION ALL ">
		SELECT
				#{amenities.fishingNo},
				#{amenities.amenitiesNo}
		  FROM
		  	   DUAL
  		</foreach>
	</insert>
		
	
	<select id="findAll" resultType="com.kh.javaray.fishing.fishing.model.dto.FishingDTO">
			SELECT 
					F.FISHING_NO fishingNo,
					M.NICKNAME fishingWriter,
					F.FISHING_NAME fishingName,
					F.PHONE phone,
					F.ADDRESS address,
					F.START_TIME startTime,
					F.END_TIME endTime,
					F.INTRODUCE introduce,
					F.LATITUDE lat,
		        	F.LONGITUDE lng,
					F.STATUS status
			FROM 
					TB_FISHING F
			JOIN
				    TB_MEMBER M ON (F.FISHING_WRITER = M.USER_NO)
			WHERE
					F.STATUS = 'Y'
			ORDER 
			BY 
					F.FISHING_NO DESC
	</select>
	
	
	<select id="findFishByFishingNos" resultType="com.kh.javaray.fishing.fish.model.dto.FishDTO">
		    SELECT 
			        rf.FISHING_NO fishingNo,
			        tfwf.FISH_NAME fishName,
			        tfwf.FISH_NO fishNo
		    FROM 
		       		 TB_REGISTERED_FISH rf
		    JOIN 
		       		 TB_FRESH_WATHER_FISH tfwf ON rf.FISH_NO = tfwf.FISH_NO
		    WHERE 
			        rf.FISHING_NO IN 
			        <foreach item="fishingNo" collection="fishingNos" open="(" close=")" separator=",">
			            #{fishingNo}
			        </foreach>
	</select>
	
	
	
	<select id="findAmenitiesByFishingNos" resultType="com.kh.javaray.fishing.amenities.model.dto.AmenitiesDTO">
		SELECT 
				tra.FISHING_NO fishingNo,
				ta.AMENITIES_NO amenitiesNo,
				ta.AMENITIES_NAME amenitiesName
		FROM
				TB_REGISTERED_AMENITIES tra 
		JOIN
				TB_AMENITIES ta ON TA.AMENITIES_NO = tra.AMENITIES_NO 
		WHERE 
				tra.FISHING_NO IN <foreach item="fishingNo" collection="fishingNos" open="(" close=")" separator=",">#{fishingNo}</foreach>
	</select>
	
	<select id="findByFishingNo" resultType="com.kh.javaray.fishing.fishing.model.dto.FishingDTO">
	 SELECT 
		        F.FISHING_NO fishingNo,
		        M.NICKNAME fishingWriter,
		        F.FISHING_NAME fishingName,
		        F.PHONE phone,
		        F.ADDRESS address,
		        F.START_TIME startTime,
		        F.END_TIME endTime,
		        F.INTRODUCE introduce,
		        F.LATITUDE lat,
		        F.LONGITUDE lng,
		        F.STATUS status,
		        F.FISHING_FILE_URL fishingFileUrl
  	  FROM 
      		    TB_FISHING F
      JOIN
      			TB_MEMBER M ON (F.FISHING_WRITER = M.USER_NO)
      WHERE 
      			F.STATUS = 'Y'
      		    
        AND 
       		    FISHING_NO = #{fishingNo}
	</select>
	
	<select id="findFishByFishingNo" resultType="com.kh.javaray.fishing.fish.model.dto.FishDTO">
		SELECT 
		        rf.FISHING_NO fishingNo, 
		        tfwf.FISH_NAME fishName,
		        tfwf.FISH_NO fishNo
		FROM 
        		TB_REGISTERED_FISH rf
		JOIN 
       			TB_FRESH_WATHER_FISH tfwf ON rf.FISH_NO = tfwf.FISH_NO
		WHERE 
       			 rf.FISHING_NO = #{fishingNo}
	</select>
	
	<select id="findAmenitiesByFishingNo" resultType="com.kh.javaray.fishing.amenities.model.dto.AmenitiesDTO">
		SELECT 
		        tra.FISHING_NO fishingNo,
		        ta.AMENITIES_NO amenitiesNo,
		        ta.AMENITIES_NAME amenitiesName
  	  	FROM
       			TB_REGISTERED_AMENITIES tra 
  	    JOIN
       			TB_AMENITIES ta ON ta.AMENITIES_NO = tra.AMENITIES_NO 
    	WHERE 
      			 tra.FISHING_NO = #{fishingNo} 
	</select>
	



	
</mapper>