<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.javaray.funding.model.mapper.FundingMapper">
	<insert id="save">
		INSERT
		  INTO
		  	   TB_BUSINESS_NUMBER_INFO
		VALUES
			   (
				#{companyBusinessNo},
				#{boardWriter},
				#{resultContent},
				#{resultCode}
			   )
	</insert>
	
	<select id="selectBusinessNo" parameterType="String" resultType="FundingBusinessNoAPIDTO">
		SELECT
			   BUSINESS_NUMBER companyBusinessNo
		  FROM
		  	   TB_BUSINESS_NUMBER_INFO
		 WHERE
			   USER_NO = #{userNo}
	</select>
	
	<insert id="insertBoard">
		INSERT
		  INTO
		  	   TB_FUNDING_COMPANY
		VALUES
			   (
				#{companyNo},
				#{companyName},
				#{phoneNo},
				#{openingDate},
				#{ceoName},
				#{companyIntroduce},
				SYSDATE,
				DEFAULT,
				#{businessNoFileUrl}
			   )
	</insert>
	
	
	<resultMap id="fundingBoard" type="FundingBoardDTO">
		<id property="boardNo" column="BOARD_NO" />
		<result property="userNo" column="USER_NO" />
		<result property="boardTitle" column="TITLE" />
		<result property="boardContent" column="CONTENT" />
		<result property="startDate" column="START_DATE" />
		<result property="endDate" column="END_DATE" />
		<result property="status" column="STATUS" />
		<result property="purposeAmount" column="PURPOSE_AMOUNT" />
		<result property="currentSalePercent" column="CURRENTSALEPERCENT"/>
		<association property="fundingCategory" javaType="FundingCategoryDTO" >
			<id property="categoryNo" column="CATEGORY_NO"/>
			<result property="categoryName" column="CATEGORY_NAME" />
		</association>
		<collection property="fundingOptionList" javaType="java.util.ArrayList" ofType="FundingOptionDTO">
			<id property="optionNo" column="OPTION_NO" />
			<result property="refBnos" column="TB_PRODUCT_OPTION.BOARD_NO" />
			<result property="optionType" column="OPTION_TYPE" />
			<result property="optionTitle" column="OPTION_TITLE" />
			<result property="optionExplain" column="OPTION_EXPLAIN" />
			<result property="optionPrice" column="OPTION_PRICE" />
			<result property="optionCount" column="TOTAL_COUNT" />
		</collection>
		<collection property="fundingFileList" javaType="java.util.ArrayList" ofType="FundingFileDTO">
			<id property="refBno" column="REF_BNO" />
			<result property="fileLevel" column="FILE_LEVEL" />
			<result property="fileUrl" column="FILE_URL" />
		</collection>
	</resultMap>
	
	<select id="selectBoardList" resultMap="fundingBoard">
SELECT
			   TB_FUNDING_BOARD.BOARD_NO AS BOARD_NO,
			   USER_NO,
			   CATEGORY_NAME,
			   TITLE,
			   CONTENT,
			   START_DATE,
			   END_DATE,
			   STATUS,
			   PURPOSE_AMOUNT,
			   OPTION_NO,
			   OPTION_TYPE,
			   OPTION_TITLE,
			   OPTION_EXPLAIN,
			   OPTION_PRICE,
			   TOTAL_COUNT,
			   FILE_LEVEL,
			   FILE_URL,
			   (SELECT 
					   SUM(OPTION_COUNT * OPTION_PRICE)
				  FROM 
				  	   TB_PURCHASE_INFO
				  JOIN
				  	   TB_PRODUCT_OPTION USING (OPTION_NO)
				 WHERE 
				 	   OPTION_NO IN (SELECT
										   OPTION_NO
									  FROM
									  	   TB_PRODUCT_OPTION
									 WHERE
									 	   BOARD_NO = TB_FUNDING_BOARD.BOARD_NO)) / PURPOSE_AMOUNT * 100 AS CURRENTSALEPERCENT
		  FROM
		  	   TB_PRODUCT_OPTION
		  JOIN
		  	   TB_FUNDING_FILE ON (TB_PRODUCT_OPTION.BOARD_NO = TB_FUNDING_FILE.REF_BNO)
		  JOIN
		  	   TB_FUNDING_BOARD ON (TB_FUNDING_BOARD.BOARD_NO = TB_FUNDING_FILE.REF_BNO)
		  JOIN
		  	   TB_FUNDING_CATEGORY USING (CATEGORY_NO)
		 WHERE
		 	   STATUS = 'N'
		   AND
		   	   TB_PRODUCT_OPTION.OPTION_NO = 1
		   AND
		   	   (#{categoryNo} = 5 OR CATEGORY_NO = #{categoryNo})
		 ORDER
		    BY
		       START_DATE
	</select>
	
	<select id="selectCompanyName">
		SELECT
			   USER_NO userNo,
			   COMPANY_NAME companyName
		  FROM
		  	   TB_FUNDING_COMPANY
		  JOIN
		  	   TB_BUSINESS_NUMBER_INFO USING (BUSINESS_NUMBER)
	</select>
	
	<select id="selectCategory">
		SELECT
			   CATEGORY_NAME
		  FROM
		  	   TB_FUNDING_CATEGORY
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<select id="selectFundingListHasNoneToken" resultMap="fundingBoard">
	
	</select>
</mapper>