<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.javaray.funding.model.mapper.FundingMapper">
	<insert id="save">
		INSERT
		  INTO
		  	   TB_BUSINESS_NUMBER_INFO
		VALUES
			   (
				#{companyBusinessNo},
				#{boardWriter},
				#{resultContent},
				#{resultCode}
			   )
	</insert>
	
	<select id="selectBusinessNo" parameterType="String" resultType="com.kh.javaray.funding.model.dto.FundingBusinessNoAPIDTO">
		SELECT
			   BUSINESS_NUMBER companyBusinessNo
		  FROM
		  	   TB_BUSINESS_NUMBER_INFO
		 WHERE
			   USER_NO = #{userNo}
	</select>
	
	<insert id="insertBoard">
		INSERT
		  INTO
		  	   TB_FUNDING_COMPANY
		VALUES
			   (
				#{companyNo},
				#{companyName},
				#{phoneNo},
				#{openingDate},
				#{ceoName},
				#{companyIntroduce},
				SYSDATE,
				DEFAULT
			   )
	</insert>
	
	<select id="selectFundingListHasNoneToken" resultType="com.kh.javaray.funding.model.dto.FundingB">
	
	</select>
</mapper>