<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.javaray.shipping.shippings.model.mapper.ShippingMapper">
	
	<resultMap id="shippingDetail" type="Shipping">
		<id property="shippingNo" column="shippingNo" />
		<result property="shippingTitle" column="shippingTitle"/>
		<result property="shippingContent" column="shippingContent"/>
		<result property="allowPepleNo" column="allowPepleNo" />
		<result property="shippingCreateDate" column="shippingCreateDate" />
		<result property="shippingModifyDate" column="shippingModifyDate"/>
		<result property="avgRating" column="avgRating" />
		<result property="attention" column="attention" />
		<result property="price" column="price" />
		<association property="member" javaType="Member" >
			<id property="userNo" column="userNo"/>
			<result property="nickname" column="nickname"/>
			<result property="username" column="username"/>
			<result property="phone" column="phone"/>
			<result property="email" column="email"/>
		</association>
		<association property="port" javaType="Port" >
			<id property="portNo" column="portNo" />
			<result property="lat" column="lat"/>
			<result property="lon" column="lon"/>
			<result property="address" column="address"/>
			<result property="spotCode" column="spotCode"/>
			<result property="detailAddress" column="detailAddress"/>
		</association>
		<collection property="options" javaType="java.util.ArrayList" ofType="ShippingOption">
			<result property="serviceNo" column="serviceNo"/>
			<result property="serviceName" column="serviceName"/>
		</collection>
		<collection property="images" javaType="java.util.ArrayList" ofType="Image">
			<result property="imageNo" column="imageNo"/>
			<result property="imagePath" column="imagePath"/>
			<result property="imageOriginName" column="imageOriginName"/>
			<result property="imageChangeName" column="imageChangeName"/>
			<result property="imageLevel" column="imageLevel"/>
			<result property="boardNo" column="boardNo"/>
		</collection>
		<collection property="fishs" javaType="java.util.ArrayList" ofType="Fishs">
			<result property="fishNo" column="fishNo"/>
			<result property="fishName" column="fishName"/>
		</collection>
	</resultMap>
		
		
	<resultMap id="shippings" type="Shipping">
		<id property="shippingNo" column="shippingNo"/>
		<result property="shippingTitle" column="shippingTitle"/>
		<result property="allowPepleNo" column="allowPepleNo"/>
		<result property="shippingCreateDate" column="shippingCreateDate"/>
		<result property="avgRating" column="avgRating" />
		<result property="price" column="price" />
			<association property="member" javaType="Member">
				<id property="userNo" column="userNo"/>
				<result property="username" column="username"/>
				<result property="nickname" column="nickname"/>
			</association>	
		<association property="port" javaType="Port">
			<id property="portNo" column="portNo" />
			<result property="address" column="address" />
		</association>
		<collection property="images" javaType="java.util.ArrayList" ofType="Image">
			<result property="imageNo" column="imageNo"/>
			<result property="imagePath" column="imagePath"/>
			<result property="imageChangeName" column="imageChangeName"/>
			<result property="imageOriginName" column="imageOriginName"/>
		</collection>
		</resultMap>
	<select id="selectShipping" resultMap="shippings">
		SELECT
		       TS.SHIPPING_NO shippingNo,
		       TS.PORT_NO portNo,
		       TM.USER_NO userNo,
		       TM.USER_ID username,
		       TM.NICKNAME nickname,
		       SHIPPING_TITLE shippingTitle,
		       ALLOW_PEPLE_NO allowPepleNo,
		       PRICE price,
		       ADDRESS address,
		       SHIPPING_CREATE_DATE shippingCreateDate,
		       ROUND(avgRating, 2) avgRating,
		       imageNo,
		       imagePath,
		       imageChangeName,
		       imageOriginName
		  FROM 
		       TB_SHIPPING TS
		  JOIN
		       TB_MEMBER TM ON (TS.USER_NO = TM.USER_NO)
		  JOIN
		       TB_PORT TP ON (TP.PORT_NO = TS.PORT_NO)
		  LEFT
		  JOIN
		       (SELECT
				       AVG(RATING) AS avgRating,
				       TS.SHIPPING_NO SHIPPING_NO
				  FROM
				       TB_SHIPPING_REVIEW TSR
				  JOIN
				       TB_SHIPPING_PLAY TSP ON (TSR.BOOK_NO = TSP.BOOK_NO)
				  JOIN
				       TB_SHIPPING_DECIDE TSD ON (TSD.BOOK_NO = TSP.BOOK_NO)
				  JOIN
				       TB_SHIPPING_BOOK TSB ON (TSD.BOOK_NO = TSB.BOOK_NO)
				  JOIN
				        TB_SHIPPING TS ON (TS.SHIPPING_NO = TSB.SHIPPING_NO)
				 GROUP
				    BY
				        TS.SHIPPING_NO) RA ON (RA.SHIPPING_NO = TS.SHIPPING_NO)	
		  LEFT 
		  JOIN
		       (
		       SELECT
		              TSI.IMAGE_NO imageNo,
		              TSI.IMAGE_PATH imagePath,
		              TSI.IMAGE_CHANGE_NAME imageChangeName,
		              TSI.IMAGE_ORIGIN_NAME imageOriginName,
		              TSI.REF_BOARD_NO
		         FROM
		              TB_SHIPPING_IMAGE TSI
		        WHERE
		              TSI.STATUS = 'Y'
		          AND
		              TSI.IMAGE_LEVEL = 1
		       ) IMG ON (TS.SHIPPING_NO = IMG.REF_BOARD_NO )
		 WHERE
		       (TS.SHIPPING_NO IS NOT NULL OR TS.SHIPPING_NO IN (SELECT
														       SHIPPING_NO
														  FROM
														       TB_SHIPPING_BOOK
														  GROUP
														     BY
														        SHIPPING_NO))
	      AND
	           TS.STATUS = 'Y'
		 ORDER
		    BY
		       SHIPPING_CREATE_DATE DESC
	</select>
	<select id="selectShippingDetail" parameterType="string" resultMap="shippingDetail">
		SELECT
		       TS.SHIPPING_NO shippingNo,
		       TS.SHIPPING_TITLE shippingTitle,
		       TS.SHIPPING_CONTENT shippingCOntent,
		       TS.ALLOW_PEPLE_NO allowPepleNo,
		       TS.SHIPPING_CREATE_DATE shippingCreateDate,
		       TS.SHIPPING_MODIFY_DATE shippingModifyDate,
		       ROUND(avgRating, 2) avgRating,
		       ATTENTION as "attention",
		       TS.PRICE price,
		       TM.USER_NO userNo,
		       TM.USER_ID username,
		       TM.NICKNAME nickname,
		       TM.PHONE phone,
		       TM.EMAIL email, 
		       TSV.SHIPPING_SERVICE_NO as serviceNo,
		       TSV.SHIPPING_SERVICE_CONTENT as serviceName,
		       imageNo,
		       imagePath,
		       imageChangeName,
		       imageOriginName,
		       imageLevel,
		       boardNo,
		       TP.PORT_NO portNo,
		       TP.ADDRESS address,
		       TP.DETAIL_ADDRESS detailAddress,
		       TP.LAT lat,
		       TP.LON lon,
		       TP.SPOT_CODE spotCode,
		       TF.FISH_NO fishNo,
		       TF.FISH_NAME fishName
		  FROM
		       TB_SHIPPING TS
		  JOIN
		       TB_MEMBER TM ON (TS.USER_NO = TM.USER_NO)
		  LEFT
		  JOIN
		       TB_SHIPPING_BOOK TSB ON(TS.SHIPPING_NO = TSB.SHIPPING_NO)
		  LEFT
		  JOIN
		       TB_SHIPPING_DECIDE TSD ON (TSB.BOOK_NO = TSD.BOOK_NO)
		  LEFT
		  JOIN
		       TB_SHIPPING_PLAY TSP ON (TSD.BOOK_NO = TSP.BOOK_NO)
		  LEFT
		  JOIN 
		       TB_PORT TP ON (TS.PORT_NO = TP.PORT_NO)
		  LEFT
		  JOIN
		       TB_SHIPPING_SERVICE TSS ON(TS.SHIPPING_NO = TSS.SHIPPING_NO)
		  LEFT
		  JOIN 
		       TB_SERVICE TSV ON(TSS.SHIPPING_SERVICE = TSV.SHIPPING_SERVICE_NO )
		  LEFT
		  JOIN
		       TB_ENABLE_FISH TEF ON (TS.SHIPPING_NO = TEF.SHIPPING_NO)
		  LEFT
		  JOIN
		       TB_FISH TF ON (TF.FISH_NO = TEF.FISH_NO)
		  LEFT 
		  JOIN
		       (
		       SELECT
		              TSI.IMAGE_NO imageNo,
		              TSI.IMAGE_PATH imagePath,
		              TSI.IMAGE_CHANGE_NAME imageChangeName,
		              TSI.IMAGE_ORIGIN_NAME imageOriginName,
		              TSI.REF_BOARD_NO boardNo,
		              TSI.IMAGE_LEVEL imageLevel
		         FROM
		              TB_SHIPPING_IMAGE TSI
		        WHERE
		              TSI.STATUS = 'Y'
                ) IMG ON (TS.SHIPPING_NO = boardNo )
		  LEFT
		  JOIN
		       (SELECT
				       AVG(RATING) AS avgRating,
				       TS.SHIPPING_NO SHIPPING_NO
				  FROM
				       TB_SHIPPING_REVIEW TSR
				  JOIN
				       TB_SHIPPING_PLAY TSP ON (TSR.BOOK_NO = TSP.BOOK_NO)
				  JOIN
				       TB_SHIPPING_DECIDE TSD ON (TSD.BOOK_NO = TSP.BOOK_NO)
				  JOIN
				       TB_SHIPPING_BOOK TSB ON (TSD.BOOK_NO = TSB.BOOK_NO)
				  JOIN
				        TB_SHIPPING TS ON (TS.SHIPPING_NO = TSB.SHIPPING_NO)
				 GROUP
				    BY
				        TS.SHIPPING_NO) RA ON (RA.SHIPPING_NO = TS.SHIPPING_NO)	
		  LEFT
		  JOIN
		       (SELECT
		               COUNT(SHIPPING_NO) ATTENTION,
		               TA.SHIPPING_NO
		          FROM
		               TB_SHIPPING_ATTENTION TA
		         GROUP
		            BY
		               SHIPPING_NO) TSA ON (TSA.SHIPPING_NO = TS.SHIPPING_NO)
		 WHERE
		       TS.SHIPPING_NO = #{shippingNo}
	</select>
	
	<select id="selectFish" parameterType="string" resultType="Fishs">
		SELECT
		       TF.FISH_NO fishNo,
		       FISH_NAME fishName,
		       EXPLAINATION,
		       START_OUT_OF_SEASON startOutOfSeason,
		       END_OUT_OF_SEASON endOutOfSeason,
		       NOTE note,
		       DEFAULT_SIZE defaultSize
		  FROM
		       TB_FISH_CONTENT TFC
		  JOIN
		       TB_FISH TF ON (TFC.FISH_NO = TF.FISH_NO)
		 WHERE
		       TF.FISH_NO = #{fishNo}
	</select>
	
	<insert id="insertAttention" parameterType="Attention" >
		INSERT
		  INTO
		       TB_SHIPPING_ATTENTION
		VALUES
		       (
				#{shippingNo},
				#{userNo}
			   )
	</insert>
	<select id="selectSearchPort" parameterType="SearchPort" resultType="Port">
		SELECT
		       PORT_NO portNo,
		       ADDRESS,
		       DETAIL_ADDRESS detailAddress
		  FROM
		       TB_PORT
		 <if test="option == 1">
			 <if test="searchContent != ''">
			 	WHERE
			 	      ADDRESS LIKE '%' || #{searchContent} || '%'
			 </if>
		 </if>
		 <if test="option == 2">
			 <if test="searchContent != ''">
			 	WHERE
			 	      DETAIL_ADDRESS LIKE '%' || #{searchContent} || '%'
			 </if>
		 </if>
		      
	</select>
	
	<resultMap id="findShippingNo" type="Shipping">
		<result  property="shippingNo" column="shippingNo"/>
		<association property="member" javaType="Member">
			<result property="userNo" column="userNo"/>
		</association>
	</resultMap>
	<select id="findByShippingNo" resultMap="findShippingNo" parameterType="string">
		SELECT
		       SHIPPING_NO shippingNo,
		       USER_NO userNo
		  FROM
		       TB_SHIPPING
		 WHERE
		       SHIPPING_NO = ${shippingNo}
	</select>
	<update id="updateShipping" parameterType="UpdateFormDTO">
		UPDATE
		       TB_SHIPPING
		   SET
		       SHIPPING_TITLE = #{shippingTitle},
		       SHIPPING_CONTENT = #{shippingContent},
		       ALLOW_PEPLE_NO = #{allowPepleNo},
		       PRICE = #{price},
		       PORT_NO = #{port.portNo}
		 WHERE
		       SHIPPING_NO = #{shippingNo}
	</update>
	
	<insert id="insertShipping" parameterType="UpdateFormDTO">
		INSERT
		  INTO
		       TB_SHIPPING
		       (
				SHIPPING_NO,
				PORT_NO,
				USER_NO,
				SHIPPING_TITLE,
				SHIPPING_CONTENT,
				ALLOW_PEPLE_NO,
				PRICE
			   )
		VALUES
		       (
				'SP'||TO_CHAR(SEQ_SH_NO.NEXTVAL),
				#{port.portNo},
				#{userNo},
				#{shippingTitle},
				#{shippingContent},
				#{allowPepleNo},
				#{price}
			   )
		<selectKey keyProperty="shippingNo" resultType="string" order="AFTER">
			SELECT
			       'SP'||TO_CHAR(SEQ_SH_NO.CURRVAL)
			  FROM
			       DUAL
		</selectKey>
	</insert>
	
	<insert id="insertFish" parameterType="Fishs">
		INSERT
		  INTO
		       TB_ENABLE_FISH
		VALUES
		       (
				#{shippingNo},
				#{fishNo}
			   )
	</insert>
	
	
</mapper>